<div class="product_listing" ng-controller="imagesCtrl">
	<table id="grid">
    	<tr ng-repeat="media in mediaList">
            <td><div class="card">
                <img class="d" ng-click="redirectQuery($index)" ng-src="{{media[0].imagePath}}"  style="width:100%"/>
                <div class="container">
                    <h4><b>{{media[0].imageDesc}}</b></h4> 
                    <p>{{media[0].imageDesc}}</p> 
                </div>
            </div></td>
            <td><div class="card">
                <img class="d" ng-click="redirectQuery($index)" ng-src="{{media[1].imagePath}}"  style="width:100%"/>
                <div class="container">
                    <h4><b>{{media[1].imageDesc}}</b></h4> 
                    <p>{{media[1].imageDesc}}</p> 
                </div>
            </div></td>
            <td><div class="card">
                <img class="d" ng-click="redirectQuery($index)" ng-src="{{media[2].imagePath}}"  style="width:100%"/>
                <div class="container">
                    <h4><b>{{media[2].imageDesc}}</b></h4> 
                    <p>{{media[2].imageDesc}}</p> 
                </div>
            </div></td>
            <td><div class="card">
                <img class="d" ng-click="redirectQuery($index)" ng-src="{{media[3].imagePath}}"  style="width:100%"/>
                <div class="container">
                    <h4><b>{{media[3].imageDesc}}</b></h4> 
                    <p>{{media[3].imageDesc}}</p> 
                </div>
            </div></td>
    	</tr>
    </table>
</div>